body{
background-color: #eee;
margin: 0px;
}
.wrap{
    margin-top: 300px;
    perspective: 1000px;
    perspective-origin:50% 50% ;
    border-top: solid 3px #999;
    border-bottom: solid 3px #999;
    background-image: linear-gradient(135deg, #ccc 25%, #ddd 25%,
    #ddd 50%, #ccc 50%, #ccc 75%, #ddd 75%, #ddd 100%);
    background-size: 80px  80px ;
    animation: cibe 3s linear 2s infinite ;
}
@keyframes cibe {
    from{ background-position: 0px;}
    to{ background-position: 80px;}
    }
.cube{
margin:  auto;
position: relative;
height: 200px;
width: 200px;
transform-style: preserve-3d;

}
 
.cube div{
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-color: #7469B6;
    border: solid 1px #eee;
    color: #fff;
    font: 12px verdana;
    text-align: center;
    transition: transform 0.2s ease-in;
}
.cube div:hover{
     background-color: #F7418F;
}
.front{
    transform: translatez(100px);
}
.back{
    transform: translateZ(100px) rotatey(180deg);
}
.right{
    transform: rotatey(-270deg)  translatex(100px);
    transform-origin: top right;
}
.left{
    transform: rotatey(270deg)  translatex(-100px);
    transform-origin: center left;
}
.top{
    transform: rotatex(-270deg)  translatey(-100px);
    transform-origin:  top center ;
}
.bottom{
    transform: rotatex(270deg)  translatey(100px);
    transform-origin: bottom center;
}
.cube{
    animation: rotate 20s infinite linear;
}
@keyframes rotate {
from{  transform: rotatex(0deg)  rotatey(0deg)} 
to{ transform: rotatex(360deg)  rotatey(360deg)}    
}
.wrap:hover .front{
    transform: translateZ(200px);
}
.wrap:hover .back{
    transform: translateZ(-200px) rotatey(180deg);
}
.wrap:hover .right{
    transform:  rotateY(-270deg) translateZ(100px) 
    translateX(100px);
}
.wrap:hover .left{
    transform:  rotateY(270deg) translateZ(100px) 
    translateX(-100px);
}
.wrap:hover .top{
    transform:  rotatex(-270deg) translateZ(100px) 
    translatey(-100px);
}
.wrap:hover .bottom{
    transform:  rotatex(270deg)  translateZ(100px) 
    translatey(100px);
}