body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;

    
  }
  h1{
    color: white;
    display: inline-flex;
    text-shadow: pink;
  }
  .container{
    font-size: 10px;
    position: relative;
    width: 40em;
    height: 40em;
    /* color: #0f1111; */
  }
  .sun{
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .sun::before
  {
    content: 'SUN ';
    position: absolute;
    border-radius: 50%;
    font-size: 2em;
    text-shadow: 0 0 1em yellow;
    padding-top: 35px;
    -webkit-text-stroke: medium;
  
}

  .earth,.moon{
    position: absolute;
    border-radius: 50%;
    border-width: 0.1em 0.1em 0 0 ;
    border-style:solid ;
    border-color: white transparent transparent transparent;
  }
  .earth{
    top: 5em;
    left: 5em;
    width:30em ;
    height:30em ;
    animation: orbit 36.5s  linear infinite;
  }
  .moon{
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
  }

  .earth::before,
  .moon::before{
    content: ' ';
    position: absolute;
    border-radius: 50%;
  }
  .earth::before{
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    /* border-radius: 50%; */
    background-color: aqua;
  }
  .moon::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    /* border-radius: 50%; */
    background-color: silver;
  }

  @keyframes orbit {
    100%{
      transform: rotate(360deg);
    }
    
  }


  