/* body{
    background-color: aqua;
} */


.container{
    height: 60px;
    background-color: black;
}
.g1{
    display: flex;
    text-decoration: none;
}
#s1{
    margin-top: 15px;
    padding-left: 200px;
    text-decoration: solid;

}
#s2{
    margin-top: 15px;
    padding-left: 200px;
    
}
#s3{
    margin-top: 15px;
    padding-left: 200px;
    
}
#s4{
    margin-top: 15px;
 padding-left: 200px;
}
#s5{
    margin-top: 15px;
    padding-left: 200px;
}
#w1{
    text-decoration: none;
    font-size: 30px;
}
#w2{
    text-decoration: none;
}
#w3{
    text-decoration: none;
}
#w4{
    text-decoration: none;    
}
#w5{
    text-decoration: none;    
}
#w1:hover{
    border: 0.5px solid  white;
}
#w2:hover{
    border: 0.5px solid white;
}
#w3:hover{
    border: 0.5px solid  white;
}
#w4:hover{
    border: 0.5px solid white;
}
#w5:hover{
    border: 0.5px solid white;
}
#f1{

    color: deeppink;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/* img{
    height: 2%;    width: 100%;
} */
body
{
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJQAxwMBIgACEQEDEQH/xAAZAAADAQEBAAAAAAAAAAAAAAAAAgMBBAf/xAA0EAACAgEDAgUDAgYCAgMAAAABAgMRABIhMQRBEyJRYXEygZGhsRQjQsHR8FJiBfEVJOH/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A8Oy4X+K6kL06RwhuFaQKo2/5MfbuckyFedvY840KGRwgq2NCzQwKEsvShRpCs9kf1WB+3m/TEdAIVk1odRI0j6hXr+f0xH2NVxlJenkjVWZDocWjgbN60e/pgRx1alKn6SQSMeJYvCmLs2sAeGF4Jve8QFNDXqLWNPp73+mAMSzD22xykkafzEKqxq2XuOf3zF0aXJLattFeuDDUdUt23ms8tv8ArveBj0KGq7G+3GUmMcPUselkaSIEaXZACftvkCKyiGPwnDB/E20aSK97wFd9bFibY7nasTDDAMsTGz6YwaNCyd/f0H+jI51dNJDGHZ1qQceUMGB2I34P/bkdsCbwuZhGiO7E+UAWWH25wjQFGLXa76dO59d+2VVhB1qnpZncKwqRLRj616Hth08wg6k+aTwnGmVL0l05Kn0usCfUymeZ5NIXUdhQFD7YvTxeLJouiRS7XZ7DKdT4YYPBEyQvuquwYj13/wA5N52aNEYLpSwvlAO5s2as/fAp/wCQE3j6+ohETOoIUJpFcbD7ZIOnglSg1kgh7Ngb2Pvt+MBGzqGCkLdBq2v5yeB1QQvFNC5MYLAOjF1IXc/VzXB2NHjERfHlbVJGhNtb7DFddCgtR1jbzcb1v+M2KGSZJHjUto3ZRuQNzdegrc9tsCPfNAIPGMqamG4AvcntlJ/CXqGERdoQ1KWqyMCbuW1Xy25PqbzcVypY6L03tfNYYHR0pRHMs3TtPGlFl1EDn+ojejvwR85znbcd8o0LIkbyAhJASrVsa2r848/UeNAivqMkYCq2oUEHC1X64EDueOcNTcE8euPDK8MyTRNpdGDK3cEcHFdmeQu5JLGyfXAZ3aRFD0AgpaUD9uckcq1GJSHBNnyi7Gw34+fx8XgI8GtADar1329KwEF1lGndoRESCoNixuOdr9NztjdLH40wj8SOKwTqkNAUL/tt75JasXde2AuGWYxhn0JaH6S53Avbjvg3TyqV1IY1Z9AZxQsVf41D84BMIfIYNdaBr119Xeq7ZORGjcq6srDswo5QxsDIApYIPMy7gC6u/SyPzmdTO/UytNK2qRjbHAIViYnxWZRpNaQDZ7DcjbDwX8N3VCVQDUy7hb4v0xklZOnaJWoSVrBUdjYo4kQQt/NJC0dwL3rb9cDIwWcBeSRVZaGWVUbp1eRY5SBIiE+ejtY/qoiwPXNM0Yi6dUhj1xli7Ffrs7A78D7ZJC4uVC66SKZdqPbftwcCs0SA64SzQuWEZatRr1AJo74pjRuoWMKYQSFPjN9B4JJAG1+23vkgSrKV8pFEFTxnTFMszdR/EsrSTCzK6ln13e2/J4JN84EmMfgxLF4mvfWGI03e2n7VjdSYxojSAwvGKcuxLM3e/T4Axf4eUySRhTriBLqN6o7/AI/tjQTLCCpLNHIumRAdJPcb79wD9sCF2BYHzhZXcWLw2s812x5JpZIo4WctHFehf+NnfAEkdVZVrzCj5Qdv7cYjfnGiALAeIEP/ACN7be2ETKsgLLqX/jdXgTwzT2wwLSrKFaJmJWFiKLbA8Gh9sgcrLL4shbRHGCAKRaAoVlEhbqYp5w8Q8EKWUsFJBNbDv2v5wObLMGSIAxUH3VyDuBtt7XiAXQAO3pzlD1Dt0ydOQmlXLClF2ffvxgK0VE6DrAUEkKRVj/O2Y1FRS1pHma7v/GNHfhyUUHAOrk79suvXz/8Ax56EMfBLa6FCztz68YHPFCZLpkBBFKzAXZrbGEMzaEWJmZgdOlSSwHJHrVHDRI0bUmkR/UeDuducaVYhBCy9R4jkMHi0keHvtvwb52wMjVJ5HMkscACEjymiQNgAO5zNMskTvpYxxkaiT9N7f2ybsdlJB09xlJpGlIkcMZHHmYnk2d/xWBjO/UTN4cYVpTQjiWgTfAH9sb+ElXph1LUsZfSATTHbkD098mYysfiWtFitahf45+/GUEkskLF5ZCEUIBdjT6ew9MCT7mxQ9ry0SeGgmRomZZAoRqJ9QaqiNq3xUilaN2VSY4qZyBstmgT98RWatiBuOOcDVUzSBQVQsdr2AvHSJ2RzqAVQTbNQauw9Tv8ArkjpB8p7Dn175VNLx1JIV0A6PLYPt7d8BI5dDkiNHsEAMPUVfzjywy9L4ZmjpZkEiXXmU8EenBxYoDJMiFkTXw0h0rXzmyaWSOndiFohv6fYHAb+YF8eIeGHJjGmx2AI/B3+ffIMhUkHsd8q5MMfglYm1U+sEMw9rHHuMmG8ujYAkEmuK/8AeAg5yvTqxkBWMyafMy0SKHN+2P1fTHpOokgcxyMh0lkcMp9wRziwTP00yyKAWANa1sEEEcH5wFCLoZjIAwOy0d8FHhuRIpuiKJqjmKbcDyjcbtxnRF1UvS9U8sbIz+ZTsCpB2NYHMykGiKr1wy7SyTzyzyAys5Jd3FksTZPzzhgShXzhmR2jB82nbb57Yr1qOkbXteaBrJF71fmNY3TojTIszlIyw1MBZAvcgd8AUuih0fSSGU0d6qj+QTks6HRI1UiRX1XWkkFNz9QrkgXt64jzOyJGXYxx2EUnYAmzgb06xu9TSBFCk2QTZA427nj09cWVVUrokDhhewojcjf37/fNd/ERfKihByBRb59Tiqt4DgM+kDzO2wAPmP2zYbRfGFeVqGpAyn5vb7Y0BMbh1sMCCD3HvlJJNcCxFUpTYIXcDfb4snA5pJGZERmtVvSPS+cpGIHChiYysTEt9Wp9yNu1il/XJsm+2AXA2NNTgMyqN92O3GCMU91PKng488cSmPwZC9oC9rp0t3X3r1xa2wJ6mAIDEA8gHY5eQwq6Hpi9aBq8UA+at6rt6ZkUatqEj6AFOny3Z7D7+uCwPpLaTQ5NevGAQTTQmR4pjGWQxtpaiytsR7gjnEpdKaGLO3K6eN9q9cZFYOCl2CKrKxzyRK6atIkYa2qzsQRR7UfTA52dmZdbEgcegF3t6bk5cxokcbO9rKC3lQ6lIsAWaHzV5k8IjkLRMXhJYJKVKh67gZhjSSREhumIAZyFskdzdDfvfGBGRao2DYvbtjyKqoilHWUWH1f47ffKNR6eFElZvqLRlaCEn172AMOoWFQqwpMrKKkMjDc+wA29Nyftxgc8Y1MdwNidzmyO8mnWzNpGkWboDthpvMoruMDBl5YoVXydQjNoViArbk1a7jkWfbbnjEXp5GgabyBAQN3AY36LdnjkDbECkbkbYDRqW8uoKp5s0MMtC0Sxl/A8XStPrY0pJ2Ioj43vvhgQCcnUNhfz7Y0bPYRLsHUB6H1ykkgaGOLz0jMxLEEEmhttY2A7n7YdL4YkcNF42pGCDXpo1s3vXpgTkYMWZtRkLWT+9/fJ98pRMdhNl3LVzeAChN0JYmw19vj5wN0fy1bUCpYir9AP846hTHVHXfOravj5zHWm06g/BtTY3Fkfr+cAVAUC7re+59sC/Swt1Eoii0hiCRqYAbAnk/GTWjXYHGjRpFIUajYAWxZJNChyT7C8N9l0ix2A39cAIRWdQPEG4Vvp781/b3xRGWYKCCxNAWOc6ETxmcAxxBU107UNhwL7+2ZK80ynxHd1B1b7gE0LrsTpH4HpgReOtSt5TZX74/VTP1U7zyVrc7gA0O1b/GUaS2kEKeGknl8JSSKsEDffkA/YYngSeCJjG/hatHidtW5r9/xgKtLC40xsZK3KnUlHseN8ELUy69KsPNd0a3A29+Pf05zGYcLekcAm8oi6VEpVGUOBTMNzzut2Rsfb33wM1QiODQhMiljKS2zi9gPT52ySswJdH0sDtXP2x0RpXCxqSzGlXvebGkzrKqhiijW4vbbaz8av1OBMEqU07aNx3APrl1I6iTqXm0meW3EhbTTXZpQKJPFbZNCqnVJGHBBoaiO2x298GV4q8WMrrW11AjUPUeuAmh1ZwVYNH9SkURRrj5rHSQFm8VtSzD+YQoZgeRRbg2BZHax3zQ7o5lh21Bk7E7rTD8E/nIMCLBFEbEHAX19OMtrSSNI5zpRL0mOJdRJ9TsTvXJNds5yceCPxplS2omtlLV9hgTLtSoTsuw/37480pnd3cICxs6I1RR8AUBmppiaTUtuF8pJIKtY3+djzmS9RLLNJNJIXkkvW7bk3zgIQqnym/nbNynTdVJ08cyRnT4oAY0CKBvuPjisMCUTaZFagaN0eDlmfwuq1yQoTr1GNh5T3ratvisiFK05G198wDUd/zgO0hdVDNsopR6e2UacP00cRRLQmnGrVR7Heq54HfJvEUVDrU6xdA2RvW/ocXSVI25G2BaK/BlKha2BJO437C9/1y69WR0B6RUjAZtTOI11NvsC3NCu1ZDp0EzaGeOMKrNqdtPAuvnbbFlXw2HnRwwsFT7kfbi8CijWpZEJVRbNzzxedDa44OnkHUISQ+lEbzxb76hW1377ZytI7jU1ktsaPP2zYJPDIlqNirDyP/V9sCzWKBABG22NLMxslm/mC3FAKSDtsNvTtzeRkmtEUqo0jkLRN+p75q+G4AEoDCNmOvYWOw+R+v5wNAdUWYAhNekOD/UN/8ZRuolljAklvQmhQw/p5obfe85VJd6FAnuTX65qy6VYXan6hgPRrgUNztx8+2YrkGwRsRijqHVJI1dgklB1ViA1GxY7740oijkTw5RMDGC2pCtNW4969cDW0n6TYrvjxjWgUvGvh2wDGrJrj349OMn08rwh3CxOGQofEVW2YVYB7jsRx7ZjFVRG1qxa/L3XfvgPBG08ywxDU7GgLAv8AOE8rSLFqm8TSgVRvaAduPft65OaYyFQ1UopR2AsmvyTjmJVWMySRgSKXBFkir2IHrgM+qOJY5EIY+dCW4BHp77fjJk2tGixPNn3/AN/GABYqOSwsAbnEbSVQqWJN6gVoD03vf9MDer6eXpOpl6fqY9E0Z0spPBxIZXgcPG5VvVThRckbsdyfgC/2GDs0oBavIoGygbdsDoXpHlVHkdIvGBkjaVqDgEg79twRvnPYMbAMAF3APJPGD6QF0Ky+Uagxuz68ZPk+l4FA8Zl1OlJ/xQkfveGY6KiRsHDFgSVojTv+uGBr9RK8KwF/5SMWCDjUQAT87D8ZX/xsc03XQJ0xUTFwY9XBYcD89sWQa441jhAManW635tybP2NfbIAlSCCQRuDgaxIY3ze/wA5eLVJ1aL0atqJHhhmBN/O2c4y6eEsDPrBlJ0+G0djSR9V3zeA+iJOnLyMsk0hI0qxDRURuwqjd7Ue2czgajpuu185XWziNWUnSKAAANX8fvl+u6dehlk6WRRJKpB8RWI2K3VdjvgQhcwTQyx0XVgwDqCLB9DyMzpxEXI6h3VFHCiy2429u/4xklkjVirOtroUg1seR+uIy0iSbAEkbc7V/nAq88skgeVmaQIqxkgbKtAc+gGc7eVitg0e2+XXq+oESxCeXw1cOF1bArdH5Fn8nFngaBwjFSaDeRgeRtvgTUMxAVSxOwAF5Q7wbtHeoHTpOrjm649r78Yi6lXWDsD2PBzXYyMzBR2+kcYFOmSNzolWl1BmkH1KovUAODzf2zFl/h5jJ0rnZmCFlH0kV8XRyMhBc0NI9MrIohlpZI5PL9Q43H7i/wAjAt1Qg6eTX0PUmRQ1LrQh6rkjjm++TimIipTHGQrKTpOqQHkd/wC2L1TRu+uFFjjYnTGHLafzk4qDqWFrqFgGrHzgKraXB2NHuLGNbMedv2yisiPG0YaxuQT37VX2yTk3vyTd4Fo55ui6gv08umRSQJEP2sHIA8DtlemdF8TXEstoVUEnyk8MK7jJujKaYV3wOrq4p4ul6YyUYWBaJl4/7An1G3xnOunwm+rXqFEHat72/GJZIC2aHA9MpCsbSIsshjQsAzBbKjua7/GBZYmZYPHkSOMxuyF22IGokbAkEkED3I7b5KYwks8KNGC3lQtqofPfNEpJchUGtdJCqPb8cDLx9MP4M9a41RJOsbpdarF7H7fqMDlUar1b0MM0Elv5Y0398MBBuaA5we73+Ms3hxNGYgC8f1FvMrnUaNEcVWxzXAkkSSZ0VZWLMIgPIL38uwHsNsBE8EdPIWaQTgjQABpI7339M2JWk8VgyAomo63AJFgUL5O/A32wnjETHQsnhOSYnkTSWW9j6fgnFMZAJWytXfAOBfq3gfpumkR9XUnUJlogbHyniuPT0yCoZZNMKsSeF7nMSMuyBiEDmtbXQ9//AFmSL4cjICrAEixwffAswMEuiSEgqRqSS/vdVsfz740scTJK5k0trpAFJRh3o/j85gV5IJJkiLKgXxXO9E3Xxf8AbOfWxUKSdIPF4GcZaIlYpWEaOpXSSw+kk8jfnb9TkTV+3bKJHrA8ygXXmNeuBPUaI9crDJGsMyNFqd60PqI0Ud9u/wB8jjK7KGCmgwo4DTSvNIGkfUwVVB9lAAH4AyeMGIvYGxW+bpU0ADf+1gKBeVZfBlKkpKqsQCpOlq7j2xoFmjMjwhw0a25X+kHY3+QPvmLE7Ra/DJjQ0WVeL9T/ALzga6PIolEelPoBVTRYdvnvmSLI38rRIDFetSfpPfbtlCYnSY+K0QjAMMVFtZsA2exrc+tYr9NMvUtDKpEossGPNC+f9vA5+DjXsarf0GUjEIV2ms2pCBTRB7E+2NGWki8EmALGGcEhVY8baqs+w/GBGHR4i+KWCWNWnmu9Y0hXW4iLGPV5S2xI7X746RKYg8YleVSTIvh+VUFUbv1Jvahtub2npLaioutyB2GB2RhI5pun6x00+GzAxOHUPoJTdbvehXvvxnFYcDY680q2uqJIF7c8XmtEFgSUSoSxIKAnUtVztW/zgN4MidOZWicAsAsl0o5249j37HDEjkUWHDEHsDW/r++bga6IgQrKjFl1Gh9J32Pvkj84Ueay8/SSRyzIrJMsW7SQnUlWBd+lkD5OBNjH4SaQQ42a2u9+3pjs0jQIGl1IjEJGXvTe5odhkDlGdSiBUIIWmJN6jZ39tqH2wGZpn6ZLkJjjalQyfSTuaW/bkDETTuWs/fvjwxa0kckKqDlr3P8AxFd/8ZbV07wqqqTMw87yEAKQTxXIK1z3wJwSJEwYRBnDA09MhFG7H/7kfxjsIygIJvuDk+1YGsKO24HcYuOq2rEsq12PfNld5ZDJI2pjVk84GMSQARuOMWvQY7sGCgKq0KJF7m+eecPKD5muxfl7H0wBPDCuHDaq8u9AG++2+17f4opv74zRuEWRkYI96WI2Nc0cqOolSJo0YqHTS/8A2F3gRFn3zrNrCOnTqItDKJmBABVgD5b5v24zkKlVBPDce+WTpOomUOkeoMruDY3Ci2/GA7qJunk6qSeISawoiA8zbc0BQGL07RzdTH/HyyeFQUtdlVAodjsNtqyGkiieDjzlGmk8GzHrOixR09trOBR4FR5UM8J0KGBQkhySNh70f0Oc5+cKN7b/ABlfBP8ADGbxIxThPDLec7E3XptzgLCUDHxNRFGqaqPb5+MeBpNREUpj1AoW16QQeQfbJyxSQu0cqMjqaZWFEH3GEbIobWhYkeXeqPr798B+nLiUCGTw3YFL16NiKIJNbEEg32OTF3pv84KpZgAuok/SOTnVUEM0qSSF0UEoYtwXra9Q49dsDmer8gIFd8MufA8ck+SNgWVVOrRZ2BPthgc+o8WavjNSRgdiRexrbvhhgITe+GGGB0A//WlXevFXufRu3GSAtSfQjDDAXtgDzhhgaWOw7DjKLPIsRjBuM7lDxdEXXrvzmYYAGI6d19WX9myZwwwGMjlEQsxVb0gnYfGMZT4ZjKJRN3p3HHf7YYYCaiVAJ2HGHiMUCE+UEkC9gTyf0H4wwwHlk1xwgRopRCpKjd/Mxs++9fAGW/8AGpG8kpkQOFiYgG6uuds3DAjLLqSHSiIUTSSgotuTZ9/8DJ3hhgDuz3rYsfU4uGGB0dHt1EJ/7jgkd/bIk+Y/OGGBrimI9PXDDDA//9k=);
}
#d1{
    margin-top: 200px;
    margin-left: 40%;
    border-radius: 25px;
    width: 35%;
    height: 30px;
}

#t1{
    font-size: 30px;
}
#d2{
    font-size: 30px;
    margin-top: 200%;
    margin-left: 50%;
    border-radius: 25px;
    width: 35%;
    height: 30px;
    text-decoration: none;
}