*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 60px;
    background-color:#0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
img{
    height: 30px;
    width: 70px;
    background-size:cover ;
    margin-top: 13px;
    margin-left: 5px;
    border: 2px solid transparent;
   
}
.border:hover{
    border: 1px solid white;
}

/** box2**/
.l1{
margin-top: 15px;
    color: white;
    padding-left: 5px;
    background-size: cover;
    margin-bottom: 12px;
}
.add1{
    font-size: 0.8rem;
    margin-left: 10px;
    color: #cccc;
}
.nav{
    display: flex;
}
.add2{
    
    margin-left: 5px;
}
/* 3rd box */
 .e1{
display: flex;
justify-content: space-evenly;
background-color: aqua;
width: 620px;
height: 40px;
border-radius: 4px;
margin-right: 5px;
 }
 .e1:hover{
    border: 2px solid orange;
 }
.g2{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
#g3{
     width: 100%;
            font-size: 1rem;
            border: none;
}


#g4{
   justify-content: center;
   align-items: center;
   width: 45px;
   display: flex;
   font-size: 1.2rem;
   background-color: orange;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;  
}
.india{
    color: #f3f3f3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 800;
    display: flex;
    padding-right: 10px;
}
.india1{
    padding-left: 10px;
    font-weight: 50%;
    font-size: 30px;
}
/* 5th box */
.sign{
    color: #f3f3f3;
}
span{
    font-size: 0.7rem;
}
.sign1{
    font-weight: 400;
}
.return{
    color: #f3f3f3;
}
span{
    font-size: 0.7rem;
}
.return1{
    font-weight: 400;
}

/* 6th box */

.cart i{
    font-size: 30px;
    color: #f3f3f3;
    display: flex;   
}
.cart1{
    font-size: 0.85rem;
    color: #f2f5f7;
    font-weight: 800;
    padding-left: 35px;
    
}

/* make it panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
 justify-content: space-evenly;   
 align-items: center;
}
.panel-all{
    margin-right: 100px;
}

.panelopt{
    width: 70%;
    font-size: 0.85rem;
    display: flex;  
    justify-content: space-evenly; 
}


.deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* centext */

#c1{
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-color: #e2e7e6;
}
/* shoping deals */
.shoping{
display: flex;
justify-content: space-evenly;
background-color: #e2e7e6;
flex-wrap: wrap;

}
.box{
    height: 400px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    margin-top: 1rem;
    
}
#s1{
    height: 300px;
    width: 95%;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    background-size: cover;
    
}

.shoping p{
    color:#007185;
}

/* footer panel */

footer{
    margin-top: 15px;
}
.f1panel{
    background-color: #37475a;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.f2panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: white;
    height: 500px;
}
ul{
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.f3panel{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    color: white;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;

}
.f4panel{
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
    font-size: 0.7rem;
}
.pages1{
padding-top: 25px;
}
.copyright{
    font-size: 0.7rem;
    padding-top: 5px;

}